<!--! vim: et ts=2 sts=2 sw=2 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Participate in Erebot's development.</title>
  <link type="text/css" rel="stylesheet" href="${tg.url('/css/root/development.css')}"/>
</head>

<body>
  ${sidebar_users()}
  ${sidebar_developpers()}
  ${sidebar_partners()}
  <div id="development">
    <div>
      <h1>Development</h1>
      <p><span py:strip="True" i18n:msg="">
      Most of the project's content (wiki, bug tracker, source repository)
      is available <a href="https://github.com/fpoirotte/Erebot">here</a>
      (hosted by <a href="https://github.com/">github</a>).
      </span>
      </p>

      <p>
        The latest version of Erebot's code is available on github and may
        be cloned using the following command:
        <span id="vcs">
          ${'git clone git://github.com/fpoirotte/Erebot.git'}
        </span>

        This will create a local repository with the core files required
        to run Erebot.
        <br/>

        You may also be interested in checking out the code of
        <a href="http://fpoirotte.github.com/Erebot/Modules.html">other modules</a>.
        <br/>

        Last but not least, the
        <a href="http://fpoirotte.github.com/Erebot/">online documentation</a>
        contains additional information that you be useful to you,
        like a list of required dependencies for Erebot.
      </p>
    </div>

    <div>
      <h1>Buildbot</h1>
      <p>
        <span py:strip="True" i18n:msg="">
          The project uses <a href="http://buildbot.net/">Buildbot</a>
          to automatically generate a bunch of files from the latest version
          of the code.
        </span>
        <br/>

        <span py:strip="True" i18n:msg="">
          You may follow the current state of every Erebot component on our
          <a href="https://buildbot.erebot.net/components">Continuous Integration server</a>
        </span>
      </p>
    </div>
  </div>
</body>
</html>

