/* vim: noet ts=4 sts=4 sw=4 */

html {
	background: #555555 url('../images/pagebg.png') top left repeat-x;
	text-align: center;
}

body {
	text-align: left;
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

a {
	color: #286571;
}

#header {
	height: 132px;
	margin: 10px 10px 0 10px;
	background: url('../images/headerbg.png') top left no-repeat;
}

#header * {
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-align: center;
}

#header h1 {
	font-size: 6em;
}

#header span {
	display: block;
	font-size: 110%;
}

ul#mainmenu {
	padding: 0 10px;
	background: url('../images/menubg.png') top left no-repeat;
	height: 38px;
}

ul#mainmenu li {
	list-style-type: none;
	position: relative;
	display: inline;
	float: left;
}

ul#mainmenu li a {
	color: #FFF;
	float: left;
	height: 31px;
	display: block;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 12px;
	text-decoration: none;
	background: url('../images/menu-item-border.png') left top no-repeat;
}

ul#mainmenu li a:hover, ul#mainmenu li a.active {
	background: url('../images/menu-item-actibg.png') left top no-repeat;
}

ul#mainmenu li.first a {
	background: none;
}

ul#mainmenu li.first a:hover, ul#mainmenu li.first a.active {
	background: url('../images/menu-item-actibg-first.png') left top no-repeat;
}

ul#mainmenu li.loginlogout {
	float: right;
	right: 10px;
}

ul#mainmenu li.loginlogout a:hover {
	background: url('../images/menu-item-border.png') left top no-repeat;
}

#content {
	background: #fff url('../images/contentbg.png') left bottom no-repeat;
	margin : 0 10px 10px 10px;
	padding: 0 10px;
	overflow: hidden;
}

/* Footer */
#footer {
	background: #FFF;
	padding: 10px;
	color: #888888;
	font-size: 90%;
	clear: both;
}

