# -*- coding: utf-8 -*-
"""Sample controller module"""

# turbogears imports
from tg import expose
#from tg import redirect, validate, flash

# third party imports
#from pylons.i18n import ugettext as _

# project specific imports
from erebot.lib.base import BaseController


class SampleController(BaseController):
    @expose('erebot.templates.index')
    def index(self):
        return dict(page='index')
