/* vim: noet ts=4 sts=4 sw=4 */

#development > div {
	margin-bottom: 2em;
}

#development p {
	margin: 1em;
}

span#vcs {
	border: 1px solid #cce;
	background-color: #eee;
	margin: 0.5em;
	margin-left: 1.5em;
	padding: 1em;
	font-size: 88%;
	margin-right: 250px;
	font-weight: bold;
	display: block;
}

#development h1 {
	font-weight: bold;
}

