<!--! vim: et ts=2 sts=2 sw=2 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Python Logging On PHP</title>
  <link type="text/css" rel="stylesheet" href="${tg.url('/css/plop/index.css')}"/>
</head>

<body>
  ${sidebar_users()}
  ${sidebar_developpers()}
  ${sidebar_partners()}
  <div id="plop">
    <div>
      <h1>What is PLOP?</h1>
      <p>
      PLOP is a port of the Python logging module (which is itself a port of Java's log4j) on PHP.<br/>
      The code is already featureful compared to other PHP logging systems and can be easily extended
      to fit one's specific needs.
      </p>
    </div>

    <div>
      <h1>Differences from the Python API</h1>
      <p>
        While most of the API is compatible between the Python logging module and PLOP,
        there are a few differences listed below.
      </p>
      <ul>
        <li i18n:msg="">Parameters for handlers in the configuration file are not yet implemented.
          [<a href="https://projets.iiens.net/issues/show/260" title="See the associated ticket">#260</a>]
        </li>
        <li>PLOP can also read its configuration from an XML file.</li>
        <li>Not all handlers are supported by PLOP (especially the Windows Events Log handler).</li>
      </ul>
    </div>

    <div>
      <h1>Relation with Erebot</h1>
      <p i18n:msg="">
        PLOP is used on Erebot to provide logging features.
        The XML configuration format is used.<br/>
        You can find out more about this <a href="https://projets.iiens.net/wiki/erebot/PLOP">here</a>.
      </p>
    </div>
  </div>
</body>
</html>
