<!--! vim: et ts=2 sts=2 sw=2 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Python Logging On PHP</title>
  <link type="text/css" rel="stylesheet" href="${tg.url('/css/plop/index.css')}"/>
</head>

<body>
  ${sidebar_users()}
  ${sidebar_developpers()}
  ${sidebar_partners()}
  <div id="plop">
    <div>
      <h1>What is PLOP?</h1>
      <p>
        PLOP was initially a port of the Python logging module (which is itself a port of Java's log4j) to PHP.<br/>
        As time went by, the code was refactored to turn PLOP into an attractive alternative
        to other PHP logging frameworks like Monolog or the Zend Log component.
      </p>
    </div>
  </div>
</body>
</html>

